.title {
  color: aqua;
  font-size: 30px;
}

.title-back {
  background-color: blue;
}

#hide {
  display: none;
}

.walrus-showing {
  display: none;
}

.clickable-show {
  cursor: pointer;
  color: #0088cc;
}

.clickable-hide {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}